/*--- general styles ---*/
/*--- import google fonts ---*/
@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Lato:ital,wght@0,300;0,700;1,300&display=swap');

/*--- color variables ---*/
:root {
	--blue-color: #4b76ad;
	--yellow-color: #c6ab67;
	--green-color: #6ab446;
}

body {
	padding: 0;
	margin: 0;
	position: relative;
	background: #f2f6e9;
	/*--- set to custom font and fall-back if it's not found ---*/
	font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}

#logo-box {
	display: block;
	float: left;
	width: 170px;
	height: 52px;
	box-shadow: 0 0 10px rgb(0 0 0 / 30%);
	transition:
}

h1, h2, h3, h4, h5 {
	/*--- google font or any cursive as fallback ---*/
	font-family: 'Fondamento',
	margin-top: 1em;
	margin-bottom: 0.5em;
}

/*--- bump up the size to increase readability of the custom font ---*/
h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

section {
	margin: 60px 0;
}

.container {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.flex-between {
	justify-content: space-between;
}

.flex-start {
	justify-content: flex-start;
	align-items: flex-start;
}

.col {
	width: 33.3%;
	padding: 0 10px;
	margin-bottom: 30px;
}

.col-wide {
	width: 66.6%;
	padding: 0 10px;
}

.col small {
	color: var(--yellow-color);
}

/*--.logo {
	padding: 10px 0;
}--*/

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

.button {
	padding: 15px;
	margin-top: 14px;
	border: 1px solid var(--green-color);
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	background: var(--green-color);
	color: #fff;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.button:hover {
	filter: brightness(105%) contrast(115%);
	transform: scale(1.1);
}

.title {
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 30px;
	text-transform: uppercase;
}

table {
	width: 100%;
	padding: 10px;
	border: 1px solid #E3B17B;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 14px;
}

td {
	padding: 5px;
	min-width: 100px;
}

td:not(:nth-child(1)) {
	color: #507541
}

.sea td {
	color: var(--blue-color);
}

.sea:not(:last-child) td {
	border-bottom: 1px solid #CCCCCC;
}

.main td {
	color: var(--yellow-color);;
}

.table-head {
	background-color: #f8f8f8;
}

.table-head td {
	padding: 10px 5px;
	color: #333333;
}

/*--- navigation bar ---*/

.nav {
	background-color: rgba(150, 180, 150, 1.0);
	position: sticky;
	top: 0;
	z-index: 100;
}

.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu li {
	display: inline-block;
	margin-left: 15px;
}

.nav-menu li a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	transition: all 250ms ease-in-out;
}

.nav-menu li a:hover {
	color: var(--yellow-color);
}

.banner {
	background-color: rgba(0,0,0,0.4);
	color: #ffd661;
	font-size: 12px;
	padding: 4px 0;
	position: relative;
}

/*--- header ---*/

.description {
	max-width: 50ch;
	color: #fff;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

/*--- feature section ---*/

.features-title {
	padding-left: 10px;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features h3 {
	color: #776843;
	margin-top: 5px;
}


/*--- footer ---*/

.to-top {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 300;
	text-decoration: none;
	background-color: var(--yellow-color);
	border-radius: 20px;
	padding: 10px;
	font-weight: bold;
	color: #fff;
}

.footer {
	background-color: #222;
	color: #f8f8f8;
	padding: 60px 0 20px;
	width: 100%;
}

.copyright {
	color: #666;
	padding: 20px 0;
}


/*--- media queries ---*/

@media (max-width: 900px) {

	/* general */

	body {
		font-size: 14px;
	}

	.col {
		width: 100%;
		margin-bottom: 50px;
	}

	.col-wide {
		width: 100%;
		margin-bottom: 50px;
	}

	.container {
		width: 95%;
	}

	section {
		margin: 30px 0;
	}

	h2, h3, h4, p {
		margin: 10px 0;
	}

	.flex-mobile-overflow {
		overflow-x: scroll;
		flex-wrap: nowrap;
	}

	.flex-mobile-overflow .col {
		min-width: 80vw;
	}

	.container-mobile-overflow {
		width: 97.5%;
		margin-left: 2.5%;
		margin-right: 0;
	}

	/* nav */
	.logo {
		padding: 5px;
	}
	.logo img {
		width: 80px;
	}

	.nav-menu li a {
		font-size: 14px;
	}

	/* footer */
	.footer {
		padding-top: 30px;
	}
	.footer .col, .footer .col-wide {
		margin-bottom: 20px;
	}

	/* top */
	.description {
		text-align: center;
		max-width: 400px;
		margin: 0 auto;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}

	.features .col img {
		width: 100%;
		margin-bottom: 8px;
	}
}
